
<header>
<%= image_tag 'UNO_Logo1.jpg', size: '150x150' %>
<p>UNO ClassCaddy</p>
</header>

<section class="information" id="main">

	<section class="information" id="welcome">
	<p><strong>Welcome to ClassCaddy, the course scheduling assistant for UNO students!</strong>  To begin, please select the term you're considering.  Then, pick the classes
	you're interested in taking, and hit Continue.</p>
	</section>
<br />
<%= form_for UnoClass.new do |f| %>
Department: <%= f.select(:department, options_for_select([['Accounting',  'ACCT'],['Aerospace Studies',  'AERO'],['Anthropology',  'ANTH'],['Architectural Engineering',  'AE'],['Architecture','ARCH'],
['Art','ART'],['Aviation',  'AVN'],['Bioinformatics',  'BIOI'],['Biology',  'BIOL'],['Biomedical Informatics',  'BMI'],['Black Studies',  'BLST'],['Broadcasting',  'BRCT'],
['Business Administration',  'BSAD'],['Chemistry',  'CHEM'],['Chinese',  'CHIN'],['Civil Engineering',  'CIVE'],['College of IS&T',  'CIST'],['Communication',  'COMM'],['Computer & Electronics Eng',  'CEEN'],
['Computer Science',  'CSCI'],['Construction Engineering',  'CONE'],['Construction Management',  'CNST'],['Cooperative Education',  'COOP'],['Counseling',  'COUN'],['Criminology & Criminal Justice',  'CRCJ'],
['Design',  'DSGN'],['Economics',  'ECON'],['Educational Leadership',  'EDL'],['Educational Prof Sequence',  'EDUC'],['Electrical Engineering',  'ELEC'],['Emergency Management',  'EMGT'],
['Engineering',  'ENGR'],['English',  'ENGL'],['Environmental Engineering',  'ENVE'],['Environmental Studies',  'ENVN'],['Finance and Banking',  'FNBK'],['Fire Service Management',  'FSMT'],
['Food Science & Technology',  'FSCI'],['Foreign Lang & Literature',  'FLNG'],['French',  'FREN'],['Geography',  'GEOG'],['Geology',  'GEOL'],['German',  'GERM'],['Gerontology',  'GERO'],
['Goodrich Program',  'GDRH'],['Health Education',  'HED'],['Health, Phys Ed & Recreation',  'HPER'],['Hebrew',  'HEBR'],['History',  'HIST'],['Honors Program',  'HONR'],['Horticulture',  'HORT'],
['Humanities',  'HUMN'],['ILUNO',  'ILUN'],['IPD',  'IPD'],['IT Innovation',  'ITIN'],['Info Assurance - Science',  'IASC'],['Info Systems & Quant Analysis',  'ISQA'],['International Studies',  'INST'],
['Japanese',  'JAPN'],['Journalism',  'JOUR'],['Latin',  'LATN'],['Latino/Latin American Studies',  'LLS'],['Law and Society',  'LAWS'],['Management',  'MGMT'],['Marketing',  'MKT'],
['Master of Fine Arts Writing',  'MFAW'],['Mathematics',  'MATH'],['Mathematics for Teachers',  'MTCH'],['Mechanical Engineering',  'MENG'],['Military Science',  'MILS'],['Music',  'MUS'],
['Native American Studies',  'NAMS'],['Natural Sciences',  'NSCI'],['Neuroscience',  'NEUR'],['Philosophy',  'PHIL'],['Physical Education',  'PE'],['Physical Education Activities',  'PEA'],
['Physics',  'PHYS'],['Political Science',  'PSCI'],['Psychology',  'PSYC'],['Public Administration',  'PA'],['Real Estate & Land Use Econ',  'RELU'],['Recreation-Leisure Study',  'RLS'],
['Religion',  'RELI'],['Russian',  'RUSS'],['Social Work',  'SOWK'],['Sociology',  'SOC'],['Spanish',  'SPAN'],['Spec Educ & Comm Disorders',  'SPED'],['Speech',  'SPCH'],['Statistics',  'STAT'],
['Teacher Education',  'TED'],['Theatre',  'THEA'],['University Seminar',  'US'],['Urban Studies',  'UBNS'],['Womens and Gender Studies',  'WGST'],['Writers Workshop',  'WRWS']])
) %>
<br /><br />
Course : <%= f.select(:course, options_for_select(
[['1000','1000'],['1010','1010'],['1014','1014'],['1020','1020'],['1024','1024'],['1030','1030'],['1034','1034'],['1040','1040'],['1050','1050'],['1054','1054'],['1060','1060'],
['1070','1070'],['1080','1080'],['1090','1090'],['1100','1100'],['1104','1104'],['1110','1110'],['1114','1114'],['111A','111A'],['111C','111C'],['111D','111D'],['111E','111E'],
['111F','111F'],['111G','111G'],['111H','111H'],['111I','111I'],['111N','111N'],['111S','111S'],['111T','111T'],['111U','111U'],['111V','111V'],['111W','111W'],['111X','111X'],
['111Z','111Z'],['1120','1120'],['1124','1124'],['112A','112A'],['112C','112C'],['112D','112D'],['112F','112F'],['112G','112G'],['112H','112H'],['112I','112I'],['112J','112J'],
['112K','112K'],['112L','112L'],['112N','112N'],['112O','112O'],['112P','112P'],['112Q','112Q'],['112R','112R'],['112S','112S'],['112T','112T'],['112U','112U'],['1140','1140'],
['1144','1144'],['1150','1150'],['1154','1154'],['115A','115A'],['115B','115B'],['115C','115C'],['115D','115D'],['115E','115E'],['115F','115F'],['115G','115G'],['115H','115H'],
['115I','115I'],['115J','115J'],['115K','115K'],['115L','115L'],['115M','115M'],['115N','115N'],['115O','115O'],['115P','115P'],['115Q','115Q'],['115R','115R'],['115S','115S'],
['115T','115T'],['1160','1160'],['1164','1164'],['1170','1170'],['1180','1180'],['1184','1184'],['1190','1190'],['1194','1194'],['1200','1200'],['1204','1204'],['1210','1210'],
['1220','1220'],['1300','1300'],['1310','1310'],['1320','1320'],['1330','1330'],['1340','1340'],['1350','1350'],['1354','1354'],['1360','1360'],['1370','1370'],['1400','1400'],
['1404','1404'],['1410','1410'],['1450','1450'],['1500','1500'],['1510','1510'],['1530','1530'],['1550','1550'],['1600','1600'],['1610','1610'],['1620','1620'],['1660','1660'],
['167B','167B'],['168D','168D'],['1750','1750'],['1800','1800'],['1810','1810'],['1820','1820'],['1920','1920'],['1930','1930'],['1940','1940'],['1950','1950'],['1960','1960'],
['1970','1970'],['2000','2000'],['2010','2010'],['2020','2020'],['2030','2030'],['2040','2040'],['2050','2050'],['2060','2060'],['2070','2070'],['2080','2080'],['2100','2100'],
['2104','2104'],['2110','2110'],['2114','2114'],['2120','2120'],['2124','2124'],['2130','2130'],['2134','2134'],['2140','2140'],['2144','2144'],['2150','2150'],['215A','215A'],
['215B','215B'],['215C','215C'],['215D','215D'],['215E','215E'],['215F','215F'],['215G','215G'],['215H','215H'],['215I','215I'],['215J','215J'],['215K','215K'],['215L','215L'],
['215M','215M'],['215N','215N'],['215O','215O'],['215P','215P'],['215Q','215Q'],['215R','215R'],['215S','215S'],['215T','215T'],['2160','2160'],['2170','2170'],['2174','2174'],
['2180','2180'],['2184','2184'],['2190','2190'],['2200','2200'],['2210','2210'],['2214','2214'],['2220','2220'],['2230','2230'],['2240','2240'],['2250','2250'],['2260','2260'],
['2274','2274'],['2280','2280'],['2300','2300'],['2310','2310'],['2320','2320'],['2330','2330'],['2350','2350'],['2360','2360'],['2370','2370'],['2400','2400'],['2410','2410'],
['2420','2420'],['2430','2430'],['2440','2440'],['2450','2450'],['2460','2460'],['2470','2470'],['2500','2500'],['2510','2510'],['2520','2520'],['2524','2524'],['2530','2530'],
['2560','2560'],['2570','2570'],['2600','2600'],['2690','2690'],['2700','2700'],['2710','2710'],['2730','2730'],['2740','2740'],['2760','2760'],['2764','2764'],['2770','2770'],
['2780','2780'],['2790','2790'],['2800','2800'],['2840','2840'],['2850','2850'],['2900','2900'],['2920','2920'],['2950','2950'],['2980','2980'],['2990','2990'],['3000','3000'],
['3010','3010'],['3020','3020'],['3030','3030'],['3040','3040'],['3050','3050'],['3060','3060'],['3070','3070'],['3080','3080'],['3090','3090'],['3100','3100'],['3104','3104'],
['3110','3110'],['3120','3120'],['3130','3130'],['3140','3140'],['3150','3150'],['315A','315A'],['315B','315B'],['315C','315C'],['315D','315D'],['315E','315E'],['315F','315F'],
['315G','315G'],['315H','315H'],['315I','315I'],['315J','315J'],['315K','315K'],['315L','315L'],['315M','315M'],['315N','315N'],['315O','315O'],['315P','315P'],['315Q','315Q'],
['315R','315R'],['315S','315S'],['315T','315T'],['3160','3160'],['3170','3170'],['3190','3190'],['3194','3194'],['3200','3200'],['3210','3210'],['3220','3220'],['3230','3230'],
['3240','3240'],['3250','3250'],['3260','3260'],['3300','3300'],['3304','3304'],['3310','3310'],['3320','3320'],['3330','3330'],['334','334'],['3340','3340'],['3350','3350'],
['3360','3360'],['3364','3364'],['3370','3370'],['3380','3380'],['3390','3390'],['3400','3400'],['3410','3410'],['3420','3420'],['3430','3430'],['3440','3440'],['3450','3450'],
['3480','3480'],['3490','3490'],['3500','3500'],['3510','3510'],['3514','3514'],['352','352'],['3520','3520'],['3524','3524'],['3530','3530'],['3540','3540'],['3550','3550'],
['3554','3554'],['3564','3564'],['3580','3580'],['3600','3600'],['361','361'],['3610','3610'],['3620','3620'],['3630','3630'],['3640','3640'],['3650','3650'],['3654','3654'],
['3660','3660'],['3670','3670'],['3680','3680'],['3690','3690'],['3700','3700'],['3710','3710'],['3730','3730'],['3740','3740'],['3750','3750'],['3760','3760'],['3770','3770'],
['378','378'],['3780','3780'],['3790','3790'],['3800','3800'],['3820','3820'],['3830','3830'],['385','385'],['3850','3850'],['3890','3890'],['3900','3900'],['3910','3910'],
['3920','3920'],['3930','3930'],['3940','3940'],['3950','3950'],['3960','3960'],['3970','3970'],['3980','3980'],['3990','3990'],['4000','4000'],['4010','4010'],['4020','4020'],
['4030','4030'],['4040','4040'],['4050','4050'],['4060','4060'],['4070','4070'],['4074','4074'],['4080','4080'],['4090','4090'],['4100','4100'],['4110','4110'],['4120','4120'],
['4130','4130'],['4140','4140'],['4150','4150'],['415A','415A'],['415B','415B'],['415C','415C'],['415D','415D'],['415E','415E'],['415F','415F'],['415G','415G'],['415H','415H'],
['415I','415I'],['415J','415J'],['415K','415K'],['415L','415L'],['415M','415M'],['415N','415N'],['415O','415O'],['415P','415P'],['415Q','415Q'],['415R','415R'],['415S','415S'],
['415T','415T'],['4160','4160'],['4170','4170'],['4180','4180'],['419','419'],['4190','4190'],['4200','4200'],['4210','4210'],['4220','4220'],['4230','4230'],['4234','4234'],
['4240','4240'],['425','425'],['4250','4250'],['4260','4260'],['4270','4270'],['4290','4290'],['4300','4300'],['4310','4310'],['4320','4320'],['4324','4324'],['4330','4330'],
['4340','4340'],['4350','4350'],['4360','4360'],['4370','4370'],['4380','4380'],['4390','4390'],['4400','4400'],['4404','4404'],['441','441'],['4410','4410'],['4420','4420'],
['4430','4430'],['444','444'],['4440','4440'],['4450','4450'],['4460','4460'],['447','447'],['4470','4470'],['4480','4480'],['4500','4500'],['4510','4510'],['4520','4520'],
['4530','4530'],['454','454'],['4540','4540'],['4544','4544'],['4550','4550'],['4560','4560'],['4570','4570'],['4580','4580'],['4590','4590'],['4600','4600'],['4610','4610'],
['4620','4620'],['463','463'],['4630','4630'],['4640','4640'],['4650','4650'],['4660','4660'],['4664','4664'],['4670','4670'],['468','468'],['4680','4680'],['4690','4690'],
['4700','4700'],['4710','4710'],['4720','4720'],['4730','4730'],['4740','4740'],['4750','4750'],['4760','4760'],['4780','4780'],['4790','4790'],['4800','4800'],['4810','4810'],
['4830','4830'],['4850','4850'],['4860','4860'],['4870','4870'],['4880','4880'],['489','489'],['4890','4890'],['4900','4900'],['4910','4910'],['4920','4920'],['4930','4930'],
['4940','4940'],['4950','4950'],['4960','4960'],['4970','4970'],['498','498'],['4980','4980'],['4990','4990'],['4999','4999'],['8000','8000'],['8005','8005'],['8006','8006'],
['8010','8010'],['8016','8016'],['8020','8020'],['8026','8026'],['8030','8030'],['8036','8036'],['8040','8040'],['8045','8045'],['8046','8046'],['8050','8050'],['8055','8055'],
['8056','8056'],['8060','8060'],['8066','8066'],['8070','8070'],['8076','8076'],['8080','8080'],['8086','8086'],['8090','8090'],['8096','8096'],['8100','8100'],['8105','8105'],
['8110','8110'],['8116','8116'],['8120','8120'],['8126','8126'],['8130','8130'],['8135','8135'],['8136','8136'],['8140','8140'],['8146','8146'],['8150','8150'],['8156','8156'],
['815B','815B'],['815C','815C'],['815D','815D'],['815E','815E'],['815F','815F'],['815G','815G'],['815J','815J'],['815K','815K'],['815L','815L'],['815M','815M'],['815N','815N'],
['815O','815O'],['815P','815P'],['815R','815R'],['815S','815S'],['815T','815T'],['8160','8160'],['8165','8165'],['8170','8170'],['8176','8176'],['8180','8180'],['8186','8186'],
['819','819'],['8190','8190'],['8196','8196'],['8200','8200'],['8206','8206'],['8210','8210'],['8216','8216'],['8220','8220'],['8226','8226'],['8230','8230'],['8235','8235'],
['8240','8240'],['8246','8246'],['8250','8250'],['8256','8256'],['8260','8260'],['8265','8265'],['8266','8266'],['8270','8270'],['828','828'],['8280','8280'],['8290','8290'],
['8300','8300'],['8305','8305'],['8306','8306'],['8310','8310'],['8316','8316'],['8320','8320'],['8325','8325'],['8326','8326'],['8330','8330'],['8336','8336'],['8340','8340'],
['8345','8345'],['8346','8346'],['8350','8350'],['8356','8356'],['8365','8365'],['8366','8366'],['8369','8369'],['8370','8370'],['8376','8376'],['8380','8380'],['8386','8386'],
['8396','8396'],['8400','8400'],['8406','8406'],['8409','8409'],['8410','8410'],['8416','8416'],['8420','8420'],['8426','8426'],['8430','8430'],['8436','8436'],['8440','8440'],
['8446','8446'],['8450','8450'],['8456','8456'],['8460','8460'],['847','847'],['8470','8470'],['8476','8476'],['8480','8480'],['8486','8486'],['8490','8490'],['8496','8496'],
['8500','8500'],['8506','8506'],['851','851'],['8510','8510'],['8516','8516'],['8519','8519'],['8520','8520'],['8525','8525'],['8535','8535'],['8536','8536'],['854','854'],
['8540','8540'],['8545','8545'],['8546','8546'],['8550','8550'],['8555','8555'],['8556','8556'],['8560','8560'],['8566','8566'],['8570','8570'],['8576','8576'],['8580','8580'],
['8585','8585'],['8586','8586'],['8590','8590'],['8596','8596'],['8600','8600'],['8606','8606'],['8610','8610'],['8615','8615'],['8616','8616'],['8626','8626'],['863','863'],
['8630','8630'],['864','864'],['8646','8646'],['8650','8650'],['8664','8664'],['8665','8665'],['8666','8666'],['8670','8670'],['8676','8676'],['868','868'],['8686','8686'],
['8696','8696'],['8700','8700'],['8706','8706'],['8710','8710'],['8720','8720'],['8726','8726'],['8730','8730'],['8736','8736'],['8740','8740'],['8745','8745'],['8746','8746'],
['8755','8755'],['8756','8756'],['8760','8760'],['8765','8765'],['8780','8780'],['8796','8796'],['8800','8800'],['8805','8805'],['8806','8806'],['8810','8810'],['8816','8816'],
['8820','8820'],['8830','8830'],['8836','8836'],['8840','8840'],['8850','8850'],['8855','8855'],['8856','8856'],['8866','8866'],['8876','8876'],['8880','8880'],['8886','8886'],
['8896','8896'],['8900','8900'],['8906','8906'],['8910','8910'],['8916','8916'],['8920','8920'],['8926','8926'],['8930','8930'],['8940','8940'],['8946','8946'],['8950','8950'],
['8956','8956'],['8960','8960'],['8966','8966'],['8970','8970'],['898','898'],['8980','8980'],['8986','8986'],['899','899'],['8990','8990'],['8996','8996'],['9010','9010'],
['9020','9020'],['9030','9030'],['9041','9041'],['9050','9050'],['9070','9070'],['9090','9090'],['9100','9100'],['9110','9110'],['9140','9140'],['9180','9180'],['9200','9200'],
['9230','9230'],['9400','9400'],['9460','9460'],['9470','9470'],['9500','9500'],['9520','9520'],['9550','9550'],['9570','9570'],['9600','9600'],['9610','9610'],['9620','9620'],
['9650','9650'],['9660','9660'],['9670','9670'],['9700','9700'],['9780','9780'],['9800','9800'],['9900','9900'],['9910','9910'],['9920','9920'],['9940','9940'],['9950','9950'],
['9960','9960'],['9970','9970'],['998','998'],['9980','9980'],['999','999'],['9990','9990']])) %>
<br /><br />
<%= f.text_area :sessionId, value: request.session_options[:id], style: "display:none;" %>
<%= f.submit %>
<% end %>
<br />

<!-- Put the table of selected classes into a div for styling -->
<div id="selectedclasses">
<table>
	<thead>
		<tr>
			<th>Department</th>
			<th>Course</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% UnoClass.all.each do |uno_class| %>
		<%if uno_class.sessionId.to_s == request.session_options[:id].to_s%>
		<tr>
			<td><%= uno_class.department %></td>
			<td><%= uno_class.course %></td>
			<td><%= link_to 'Remove', uno_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<%end%>
		<% end %>
	</tbody>
</table>
</div>
<div id="message" data-lat="<%= session[:message] %>"><%= session[:message]%></div>
<br />
<a href="prefsPage"><input type="button" value="Continue" /></a>
<br /><%= @notice %>
</section>
<!-- Creation information is included in this footer.-->
<footer style="margin-top: 5%;">Created by Erik Dodge, Joseph Eley, Christian Ressler, Jason Lynn and Ibrahim Nikiema</footer>

<script>
var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
var message = $("#message").data("lat");
$(document).ready(function(){
	if(message != ""){
    	alert(message);
    }
    if(!is_chrome){
    	alert("This website only works in chrome");
    }
  });
</script>
</html>


