
<!DOCTYPE html>
<html>
	<head>
		<title>SoftwareEngineeringApp</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<div id="title1" data-lat="<%= @title1 %>"></div>
		<div id="end1" data-lat="<%= @end1 %>"></div>
		<div id="start1" data-lat="<%= @start1 %>"></div>
		<div id="all1" data-lat="<%= @allDay1 %>"></div>
		<div id="title2" data-lat="<%= @title2 %>"></div>
		<div id="end2" data-lat="<%= @end2 %>"></div>
		<div id="start2" data-lat="<%= @start2 %>"></div>
		<div id="all2" data-lat="<%= @allDay2 %>"></div>
		<div id="title3" data-lat="<%= @title3 %>"></div>
		<div id="end3" data-lat="<%= @end3 %>"></div>
		<div id="start3" data-lat="<%= @start3 %>"></div>
		<div id="all3" data-lat="<%= @allDay3 %>"></div>
		<div id="title4" data-lat="<%= @title4 %>"></div>
		<div id="end4" data-lat="<%= @end4 %>"></div>
		<div id="start4" data-lat="<%= @start4 %>"></div>
		<div id="all4" data-lat="<%= @allDay4 %>"></div>
		<div id="title5" data-lat="<%= @title5 %>"></div>
		<div id="end5" data-lat="<%= @end5 %>"></div>
		<div id="start5" data-lat="<%= @start5 %>"></div>
		<div id="all5" data-lat="<%= @allDay5 %>"></div>
		<div id="title6" data-lat="<%= @title6 %>"></div>
		<div id="end6" data-lat="<%= @end6 %>"></div>
		<div id="start6" data-lat="<%= @start6 %>"></div>
		<div id="all6" data-lat="<%= @allDay6 %>"></div>
		<div id="title7" data-lat="<%= @title7 %>"></div>
		<div id="end7" data-lat="<%= @end7 %>"></div>
		<div id="start7" data-lat="<%= @start7 %>"></div>
		<div id="all7" data-lat="<%= @allDay7 %>"></div>
		<div id="title8" data-lat="<%= @title8 %>"></div>
		<div id="end8" data-lat="<%= @end8 %>"></div>
		<div id="start8" data-lat="<%= @start8 %>"></div>
		<div id="all8" data-lat="<%= @allDay8 %>"></div>
		<div id="title9" data-lat="<%= @title9 %>"></div>
		<div id="end9" data-lat="<%= @end9 %>"></div>
		<div id="start9" data-lat="<%= @start9 %>"></div>
		<div id="all9" data-lat="<%= @allDay9 %>"></div>
		<div id="title10" data-lat="<%= @title10 %>"></div>
		<div id="end10" data-lat="<%= @end10 %>"></div>
		<div id="start10" data-lat="<%= @start10 %>"></div>
		<div id="all10" data-lat="<%= @allDay10 %>"></div>
		<%= link_to "Back", :controller => :users, :action => :prefsPage%> 
		<%= link_to "PreviousCalendar", :controller => :users, :action => :nextPage, :myAction => (@pageNum -1)%>
		<%= link_to "NextCalendar", :controller => :users, :action => :nextPage, :myAction => (@pageNum +1)%>
		PageNum <%=@pageNum%>
		<script>
		var title1 = $("#title1").data("lat");
		var end1 = $("#end1").data("lat");
		var start1 = $("#start1").data("lat");
		var all1 = $("#all1").data("lat");
		var title2 = $("#title2").data("lat");
		var end2 = $("#end2").data("lat");
		var start2 = $("#start2").data("lat");
		var all2 = $("#all2").data("lat");
		var title3 = $("#title3").data("lat");
		var end3 = $("#end3").data("lat");
		var start3 = $("#start3").data("lat");
		var all3 = $("#all3").data("lat");
		var title4 = $("#title4").data("lat");
		var end4 = $("#end4").data("lat");
		var start4 = $("#start4").data("lat");
		var all4 = $("#all4").data("lat");
		var title5 = $("#title5").data("lat");
		var end5 = $("#end5").data("lat");
		var start5 = $("#start5").data("lat");
		var all5 = $("#all5").data("lat");
		var title6 = $("#title6").data("lat");
		var end6 = $("#end6").data("lat");
		var start6 = $("#start6").data("lat");
		var all6 = $("#all6").data("lat");
		var title7 = $("#title7").data("lat");
		var end7 = $("#end7").data("lat");
		var start7 = $("#start7").data("lat");
		var all7 = $("#all7").data("lat");
		var title8 = $("#title8").data("lat");
		var end8 = $("#end8").data("lat");
		var start8 = $("#start8").data("lat");
		var all8 = $("#all8").data("lat");
		var title9 = $("#title9").data("lat");
		var end9 = $("#end9").data("lat");
		var start9 = $("#start9").data("lat");
		var all9 = $("#all9").data("lat");
		var title10 = $("#title10").data("lat");
		var end10 = $("#end10").data("lat");
		var start10 = $("#start10").data("lat");
		var all10 = $("#all10").data("lat");
			$(document).ready(function() {

				// page is now ready, initialize the calendar...

				$('#calendar').fullCalendar({
					defaultView : 'agendaWeek',
					//contentHeight: "auto",
					height : 600,
					weekends : false,
					year: 2018,
 					month: 0,
 					date: 1,
					header: {
        				left: '',
        				center: 'title',
        				right: ''
    				},
					events : [{title:title1,end: end1,start: start1, allDay: all1},
							  {title:title2,end: end2,start: start2, allDay: all2},
							  {title:title3,end: end3,start: start3, allDay: all3},
							  {title:title4,end: end4,start: start4, allDay: all4},
							  {title:title5,end: end5,start: start5, allDay: all5},
							  {title:title6,end: end6,start: start6, allDay: all6},
							  {title:title7,end: end7,start: start7, allDay: all7},
							  {title:title8,end: end8,start: start8, allDay: all8},
							  {title:title9,end: end9,start: start9, allDay: all9},
							  {title:title10,end: end10,start: start10, allDay: all10}
					]

				});
				$('#calendar').fullCalendar('gotoDate', '2014-09-12');

			});
		</script>
	</head>


</html>

	<header>
	<%= image_tag 'UNO_Logo1.jpg', size: '150x150' %>
	<p>UNO ClassCaddy</p>
	</header>
	
	<section class="information" id="main">
		<section class="information" id="welcome">
		<h2>Schedule N</h2>
		</section>
	<body>
		<div id='calendar'></div>
		
		<a href="index"><input type="button" value="Edit Classes" /></a> <p></p>
		<a href="preferences"><input type="button" value="Edit Preferences" /></a>

		<a href="">View Printer-Friendly Version</a>
	</body>
	</section>

	<!-- Creation information is included in this footer.-->
	<footer>Created by Erik Dodge, Joseph Eley, Christian Ressler, Jason Lynn and Ibrahim Nikiema</footer>
