
<header>
<%= image_tag 'UNO_Logo1.jpg', size: '150x150' %>
<p>UNO ClassCaddy</p>
</header>

<section class="information" id="main">

	<!-- This first section serves as a sort of welcome to the site, with a few paragraphs and a picture of the store.-->
	<section class="information" id="welcome">
	<p>If desired, you may add preferences which our algorithm will consider when creating your possible schedules.  Once finished, hit "See Schedules" to see the results!</p>
	</section>
	
<%= form_for Preference.new do |f| %>
No classes before: <%= time_field(:preference, :startTime) %> on <%= f.select(:day, options_for_select([['Monday',  'M'],['Tuesday',  'T'],['Wednesday',  'W'],
['Thursday',  'R'],['Friday',  'F'],['Saturday',  'Sa'],['Sunday',  'Su'],])) %>
<br />
<%= f.text_area :kind, value: "1",style: "display:none;" %>
<%= f.text_area :sessionid, value: request.session_options[:id], style: "display:none;" %>
<%= f.submit %>
<% end %>
<%= form_for Preference.new do |f| %>
No classes after: <%= time_field(:preference,:startTime) %> on <%= f.select(:day, options_for_select([['Monday',  'M'],['Tuesday',  'T'],['Wednesday',  'W'],
['Thursday',  'R'],['Friday',  'F'],['Saturday',  'Sa'],['Sunday',  'Su'],])) %>
<br />
<%= f.text_area :kind, value: 2, style: "display:none;" %>
<%= f.text_area :sessionid, value: request.session_options[:id], style: "display:none;" %>
<%= f.submit %>
<% end %>
<%= form_for Preference.new do |f| %>
No classes between: <%= time_field(:preference,:startTime) %> and <%= time_field(:preference,:endTime) %> on <%= f.select(:day, options_for_select([['Monday',  'M'],['Tuesday',  'T'],['Wednesday',  'W'],
['Thursday',  'R'],['Friday',  'F'],['Saturday',  'Sa'],['Sunday',  'Su'],])) %>
<br />
<%= f.text_area :kind, value: 3, style: "display:none;" %>
<%= f.text_area :sessionid, value: request.session_options[:id], style: "display:none;" %>
<%= f.submit %>
<% end %>
<br />

<!-- Put the selected preferences into a div for styling -->
<div id="selectedlist"; style="margin-top: -15%">
Preferences<br /><br />
<% Preference.all.each do |prefs| %>
		<%if prefs.sessionid.to_s == request.session_options[:id].to_s%>
			<%if prefs.kind == 1%>
				<%= "No classes before "%>
				<%= prefs.startTime.to_formatted_s(:time) %>
				<%= " on " %>
				<%if prefs.day == "M"%>
				<%= "Monday"%>
				<%elsif prefs.day == "T"%>
				<%= "Tuesday"%>
				<%elsif prefs.day == "W"%>
				<%= "Wednesday"%>
				<%elsif prefs.day == "R"%>
				<%= "Thursday"%>
				<%elsif prefs.day == "F"%>
				<%= "Friday"%>
				<%elsif prefs.day == "Sa"%>
				<%= "Saturday"%>
				<%elsif prefs.day == "Su"%>
				<%= "Sunday"%>
				<%end%>
				<%end%>
			<%if prefs.kind == 2%>
				<%= "No classes after "%>
				<%= prefs.startTime.to_formatted_s(:time) %>
				<%= " on " %>
				<%if prefs.day == "M"%>
				<%= "Monday"%>
				<%elsif prefs.day == "T"%>
				<%= "Tuesday"%>
				<%elsif prefs.day == "W"%>
				<%= "Wednesday"%>
				<%elsif prefs.day == "R"%>
				<%= "Thursday"%>
				<%elsif prefs.day == "F"%>
				<%= "Friday"%>
				<%elsif prefs.day == "Sa"%>
				<%= "Saturday"%>
				<%elsif prefs.day == "Su"%>
				<%= "Sunday"%>
				<%end%>
			<%end%>
			<%if prefs.kind == 3%>
				<%= "No classes between "%>
				<%= prefs.startTime.to_formatted_s(:time) %>
				<%= " and "%>
				<%= prefs.endTime.to_formatted_s(:time) %>
				<%= " on " %>
				<%if prefs.day == "M"%>
				<%= "Monday"%>
				<%elsif prefs.day == "T"%>
				<%= "Tuesday"%>
				<%elsif prefs.day == "W"%>
				<%= "Wednesday"%>
				<%elsif prefs.day == "R"%>
				<%= "Thursday"%>
				<%elsif prefs.day == "F"%>
				<%= "Friday"%>
				<%elsif prefs.day == "Sa"%>
				<%= "Saturday"%>
				<%elsif prefs.day == "Su"%>
				<%= "Sunday"%>
				<%end%>
			<%end%>
			<%= link_to 'Remove', prefs, method: :delete, data: { confirm: 'Are you sure?' } %>
			<br />
		<%end%>
		<% end %>
<br />
</div>

<table id="prefButtons">
	<tr>
		<td><a href="uno_classes"><input type="button" value="Go Back" /></a></td>
		<td><a href="nextPage"><input type="button" value="See Schedules" /></a></td>
	</tr>
</table>

</section>

<!-- Creation information is included in this footer.-->
<footer style="margin-top: 5.2%;">Created by Erik Dodge, Joseph Eley, Christian Ressler, Jason Lynn and Ibrahim Nikiema</footer>

</html>
